<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dictionaryService"
      type="BluePrint.Dictionary.DataProviderSettings, BluePrint.Dictionary"/>
    <section name="socketServer" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="ServiceName" value="TrieTreeService" />
    <add key="ServiceDescription" value="trie tree service which can be used to load any third-party dictionary and index words" />
  </appSettings>
  
  <dictionaryService>
    <provider name="pangu_dict" uri="F:\Dropbox\research\NLP\TrieTreeService\DictionaryService.UnitTest\Data\panguDict.dct" type="BluePrint.Dictionary.Providers.PanguDictProvider, BluePrint.Dictionary.Providers" />
    <!--<provider name="mongoDB_PlaceNames" uri="mongodb://localhost:28001" type="MongoDB" dbname="nameResearch" collectionName="placeNames"/>-->
    <provider name="IKdict" uri="F:\Dropbox\research\NLP\TrieTreeService\DictionaryService.UnitTest\Data\IKdict.dic" type="BluePrint.Dictionary.Providers.TxtFileProvider, BluePrint.Dictionary.Providers"/>
  </dictionaryService>

  <socketServer>
    <servers>
      <server name="TrieTreeServer"
              serviceName="TrieTreeService"
              ip="Any" port="7010"
              mode="Async"
              maxConnectionNumber="100">
      </server>
    </servers>
    <services>
      <service name="TrieTreeService" type="BluePrint.DictionaryService.TrieTreeServer, BluePrint.DictionaryService" />
    </services>
  </socketServer>

  <log4net>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <backColor value="Green" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <backColor value="Yellow" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="ColoredConsoleAppender" />
    </root>
  </log4net>
</configuration>

